.foo {
    color:mediumseagreen; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
}
.bar{
    color:chartreuse;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
}